// ServerInterface represents all server handlers.
type ServerInterface interface {
{{ if not opts.OutputOptions.GroupByTag }}
    {{range .}}
        {{.SummaryAsComment }}
        // ({{.Method}} {{.Path}})
        {{.OperationId}}(c *gin.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}})
    {{end}}
    }
{{ else }}
    {{/* Grouped inteterfaces block the groupOperations function is used to group by tag a slice of Operations */}}
    {{range $tag, $ops := groupOperations .}}
        {{$tag}}API
    {{end}}
    }

    {{/* Generate the individual API interfaces */}}
    {{range $tag, $ops := groupOperations .}}
        // {{$tag}}API handlers for tag {{$tag}}
        type {{$tag}}API interface {
        {{range $op := $ops}}{{$op.SummaryAsComment }}
        // ({{$op.Method}} {{$op.Path}})
        {{$op.OperationId}}(c *gin.Context{{genParamArgs $op.PathParams}}{{if $op.RequiresParamObject}}, params {{$op.OperationId}}Params{{end}})
        {{end}}
        }
    {{ end }}
{{end}}
